
.title {
  text-align: center;
  font-size: 35px;
}

.text:last-child {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
  width: 500px;
}

.span {
  width: 600px;
  height: 8px;
  background-color: #2c320587;
  margin: 10px auto;
}
