button {
  display: flex;
  margin: auto;
  width: 100px;
  gap: 10px;
  
  }
.container > button{
    font-size: 18px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }